$primary-darkblue-intro-mail: hsl(217, 28%, 15%);
$primary-darkblue-main-bg: hsl(218, 28%, 13%);
$primary-darkblue-footer-bg: hsl(216, 53%, 9%);
$primary-darkblue-testimonials-bg: hsl(217, 28%, 15%);

$accent-cyan-gradient: hsl(176, 68%, 64%);
$accent-blue-gradient: hsl(198, 60%, 50%);
$accent-red-error: hsl(0, 100%, 63%);

$neutral-white: hsl(0, 0%, 100%);
